.createStore {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-size: 34px;
  font-weight: 700;
}
.formContainer {
  display: flex;
  flex-direction: column;

  padding-block: 20px;
  gap: var(--gap);
  width: 100%;
}
.formContent {
  display: flex;
  gap: 40px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
.contentName {
  font-size: 16px;
  font-weight: 700;
}
.contentText {
  font-size: 12px;
  color: #858586;
}
.logo {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;

  background-color: #ffffff;
  border-radius: 12px;
  width: 200px;
  height: 300px;
}
.uploadContainer {
  position: relative;
}
.iconUpload {
  width: 200px;
  height: 200px;
  fill: transparent;
  border-radius: 12px;
  background-color: #f0f1f5;
}
.editContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgb(221, 221, 221);
}

.editIcon {
  border-radius: 12px;
  fill: var(--main-color);
}
.nameStore {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.formInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap);
}
.info {
  width: 100%;
}
.time {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}
.workInfo {
    display: flex;
    flex-direction: column;
}
.checkbox {
    width: 20px;
    height: 20px;
}
.day {
    display: flex;
    gap: var(--gap);
}
.address {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}