.createStore {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-size: 34px;
  font-weight: 700;
}
.formContainer {
  display: flex;
  flex-direction: column;

  padding-block: 20px;
  gap: var(--gap);
  width: 100%;

  @media (max-width: 992px) {
    gap: 0px;
  }
}
.formContent {
  display: flex;
  gap: 40px;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;

  gap: 8px;
  width: 200px;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentName {
  font-size: 16px;
  font-weight: 700;
}
.contentText {
  font-size: 12px;
  color: #858586;
}

.uploadContainer {
  position: relative;
  cursor: pointer;
}
.iconUpload {
  width: 200px;
  height: 200px;
  fill: transparent;
  border-radius: 12px;
  background-color: #f0f1f5;

  @media (max-width: 1024px) {
    width: 100px;
    height: 100px;
  }
}
.editContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgb(221, 221, 221);

  @media (max-width: 1024px) {
    right: 110px;
  }
}

.editIcon {
  border-radius: 12px;
  fill: var(--main-color);
}
.nameStore {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // width: 100%;
}
.formInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 992px) {
    gap: 10px;
  }
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap);

  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }
}

.info {
  flex: 1;
  min-width: 250px;
}
.time {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}
.workInfo {
  display: flex;
  flex-direction: column;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.day {
  display: flex;
  gap: var(--gap);
}
.address {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.map {
  margin-block: 30px;

  @media (max-width: 992px) {
    margin-block: 10px;
  }
}
