.mainTitle {
  font-size: 20px;
  font-weight: 700;
}
.title {
  font-size: 17px;
}
.container {
  display: flex;
  flex-direction: column;
}
.tableContainer {
  display: flex;
  width: 100%;
  border: 1.5px solid #aaaaaa63;
  border-radius: 10px;
  overflow-y: hidden;
}
.headerContainer {
  display: flex;
  flex-direction: column;
}
.tableHeader {
  display: flex;
  flex-direction: column;
  line-height: 17px;
  width: 140px;
  height: 39px;
  border-bottom: 1.6px solid #aaaaaa3e;
  background-color: aliceblue;
  padding: 5px;
}
.tableHeader:last-child {
  border-bottom: 1.6px solid transparent;
}
.label {
  font-weight: 700;
  font-size: 12px;
}
.subLabel {
  font-size: 11px;
}
.tableBodyContainer {
  display: flex;
  overflow-x: auto;

  width: 100%;
}
.tableBody {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    background-color: #dddddd3e;
  }
}

.tableBody:has(.activeRow):hover {
  background-color: transparent;
}

.size {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 50px;
  height: 39px;
  padding: 5px;

  border-bottom: 1.6px solid #e0e0e0;
}
.size:last-child {
  border-bottom: 1.6px solid transparent;
}

.activeRow {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
  border-radius: 10px;
}

.infoWrapper {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
}

.infoContainer {
  display: flex;
  gap: 20px;
  align-items: start;
}
.infoItem {
  margin-bottom: 15px;

  strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
}
.infoText {
  font-size: 13px;
  color: #666;
  line-height: 1.1;
  margin: 0;
}

.image {
  width: 280px;
  height: 340px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .infoContainer {
    flex-direction: column-reverse;

    .infoImage {
      flex: none;
      width: 150px;
      margin: 0 auto 20px;
    }
  }
}
.closeBtn {
  width: 100%;
  height: 36px;
  border-radius: 12px;
  font-weight: 700;

  color: var(--color-text);

  border: none;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: #b4b4b457;
  }
}
