.history {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.searchInput {
    width: 220px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}