.historyOrders {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.page {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 16px;

  transition: all .3s ease;
  &:hover {
    border-color: var(--main-color);
    background-color: #eaeaea52;
  }
}
.imagesContainer {
    display: flex;
    gap: var(--gap);
}
.imageWrapper {
  position: relative;
}
.moreCount {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  padding-top: 4px;
  top: 40%;
  left: 40%;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: var(--main-color);
  color: #fff;
}
.image {
  object-fit: cover;
  border-radius: 8px;
}
.content {
    display: flex;
    align-items: center;
    gap: 270px;
}
.info {
  display: flex;
  align-items: center;
  gap: 80px;
}
.item {
  span {
    color: var(--color-text);
  }
  p {
    color: var(--color-text);
  }
}
.title {
  color: var(--color-text);
  span {
    font-size: 16px;
    font-weight: normal;
    color: #606060;
  }
}
.arrow {
  transform: rotate(-90deg);
  fill: transparent;
}
