.basket {
    padding-top: 120px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    justify-items: center;
}
.title {
    font-size: 28px;
}