.headerContainer {
  width: 100%;
}
.searchBar {
  flex: 1;

  :global(.ant-input-affix-wrapper) {
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
  }
}
.filterButton {
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 1px solid transparent; 
  transition: all 0.3s ease;     

}

.formWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.modalFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
