.pages {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.pages h4:nth-child(2) {
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}