.deleteAccount {
  box-shadow: 
  0 2px 8px rgba(0, 0, 0, 0.06),
  0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}
.title {
  width: fit-content;
  font-size: 20px;
  padding: 8px 18px;
  border-radius: 18px;
  border: none;
  background-color: antiquewhite;
  color: var(--main-color);
}
.info {
  display: flex;
  flex-direction: column;
}
.infoTitle {
  font-size: 34px;
  font-weight: 700;
}
.infoSubTitle {
  font-size: 16px;
  font-weight: 400;
  color: rgb(73, 72, 72);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.footerTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footerTitle {
  font-size: 22px;
  color: #656565;
}
.footerSubTitle {
  font-size: 14px;
  color: #838383;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconMessage {
    fill: #fff;

}