.privacyPolicy {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.maintitle {
    font-size: 28px;
}
.block {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.title {
    font-size: 26px;
    text-transform: uppercase;
}