.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;

  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ecedf0;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.buttonCatalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;
  height: 48px;
  width: 160px;
  border-radius: 12px;
  border: none;
  background-color: var(--main-color);
}
.buttonCatalogText {
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
  line-height: 24px;
  color: #fff;
  width: fit-content;
  height: fit-content;
}
.headerSearchInput {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 460px;
  height: 48px;
  background-color: #ecedf0;
  border-radius: 12px;
  padding-inline: 10px;
}
.headerInput {
  background-color: transparent;
  width: 100%;
}
.locationNav {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 58px;
  border-radius: 12px;

  cursor: pointer;
}
.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 48px;
  width: 58px;
  border-radius: 12px;

  cursor: pointer;
}
.favoriteNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 48px;
  width: 58px;
  border-radius: 12px;

  cursor: pointer;
}
.cartNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 48px;
  width: 58px;
  border-radius: 12px;

  cursor: pointer;
}

.profileNavText, .favoriteNavText, .cartNavText {
    color: var(--color-text);
}