.payments {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.infoBlocks {
    display: flex;
    flex-direction: column;
}
.subTitle {
    margin-bottom: 10px;
}
.item {
    margin-left: 20px;
}
.description {
    margin-top: 10px;
}