
.section {
  display: flex;
  flex-direction: column;
}
.tableContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1.5px solid #aaaaaa63;
  border-radius: 10px;
  overflow: hidden;
}
.headerContainer {
  display: flex;
  flex-direction: column;
}
.tableHeader {
  display: flex;
  flex-direction: column;
  line-height: 17px;
  width: 180px;
  height: 50px;
  border-bottom: 1.6px solid #aaaaaa3e;
  background-color: aliceblue;
  padding: 10px;
}
.tableHeader:last-child {
  border-bottom: 1.6px solid transparent;
}
.label {
  font-weight: 700;
}
.tableBody {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    background-color: #dddddd3e;
  }
}

.tableBody:has(.activeRow):hover {
  background-color: transparent;
}

.size {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;

  border-bottom: 1.6px solid #e0e0e0;
}
.size:last-child {
  border-bottom: 1.6px solid transparent;
}

.activeRow {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
  border-radius: 10px;
}

.infoWrapper {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;

  .infoMainTitle {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
  }
}

.infoContainer {
  display: flex;
  gap: 20px;
  align-items: start;

  .infoContent {
    .infoItem {
      margin-bottom: 15px;

      strong {
        display: block;
        margin-bottom: 5px;
        color: #333;
      }

      p {
        font-size: 14px;
        color: #666;
        line-height: 1.4;
        margin: 0;
      }
    }
  }
}

.image {
  width: 280px;
  height: 340px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .infoContainer {
    flex-direction: column-reverse;

    .infoImage {
      flex: none;
      width: 150px;
      margin: 0 auto 20px;
    }
  }
}
