.favorite {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  justify-items: stretch;
}

.favoritesHeader {
  display: flex;
  justify-content: space-between;
}
.favoritesHeader h3 {
  font-size: 28px;
}
.favoritesFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Стили для Card
.card {
  width: 260px;
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
}
.favoriteCardImage {
  width: 100%;
  height: 72%;
  border-radius: inherit;
  overflow: hidden;
  border: 1.5px solid #9393936d;
}
